/META-INF
/cache
/com
/digihealth.properties
/jdbc.properties
/license
/log4j.properties
/mappings
/mybatis-config.xml
/publickey
/retMsg.properties
/sign
/spring-context.xml
/spring-mvc.xml
/spring-sync-master.xml
/spring-sync-slave.xml
/spring-webservice.xml
/swagger
